{% extends 'base.html' %}
{% load static %}
{% block title %}Magazine{% endblock title %}


{% block meta_tags %}
    <meta name="title" content="{{ magazine.meta_title }}">
    <meta name="description" content="{{ magazine.meta_description }}">
    <meta name="keywords" content="{{ magazine.meta_keywords }}">
    <title>{{ magazine.title }}</title>
{% endblock meta_tags %}




{% block page_css %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


<style>

    body {
        background-image: url("{% static 'images/back.jpg' %}");
        font-family: "IM Fell English", serif!important;

        /* font-size: 1.20rem; */
        color:black;
    }

    header {
        background-color: transparent;
        color: black!important;
        -webkit-box-shadow:0px 1px 1px black;
        -moz-box-shadow:0px 1px 1px black;
        box-shadow: 0px -5px 7px black;
    }
    .nav-links a{
        color: black!important;
    }

    /* {% comment %} banner start {% endcomment %} */


    /*  */
    /* style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;" */


    .container-fluid {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        /* margin-bottom: 15%;  */
        margin-bottom: 100px;
    }



    .container {
        width: 100%;
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;

    }


    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-lg-8 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 66.666667%;
        /* max-width: 800px; */
        margin: 0 auto;


    }



    @media (max-width: 992px) {
        .col-lg-8 {
            padding: 10px;
            box-shadow: none;
        }
        .smlhead h5, .share-container .smlbtn, .icons h5 {
            font-size: 14px;
        }
        .icons i {
            font-size: 18px;
        }
    }


    @media (max-width: 768px) {
        .col-lg-8 {
            padding: 10px;
            flex: 1 100%;
        }

        .form-row {
            display: flex;
            flex-direction: column;
        }
        .form-group {
            width: 100%;
        }
        .input-field, .textarea-field {
            width: 100%;
            padding: 10px;
            font-size: 14px;
        }
        .submit-btn {
            width: 100%;
            padding: 10px;
            font-size: 16px;
        }

        .share-container {
            flex-direction: column;
            align-items: flex-start;
        }
        .share-title {
            margin-bottom: 10px;
        }
    }

    @media (max-width: 480px) {
        .col-lg-8 {
            padding: 5px;
        }
        h1 {
            font-size: 24px;
        }
        .comment-btn {
            font-size: 16px;
        }
        .smlhead h5 {
            font-size: 12px;
        }
    }


    .MAGAZINE-img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }


    a {
        color: black;
        text-decoration: none;
        background-color: transparent;
        font-size: 1rem;
    }

    a:hover {
        color: black;
        text-decoration: underline;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 600;
        line-height: 1.2;
        color: #212529;
        font-size: 2.5rem;
    }


    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    /* {% comment %} banner end {% endcomment %} */


    /* {% comment %} comment start {% endcomment %} */



    .comment-img {
        width: 100%;
        max-width: 60px;
        height: auto;
        border-radius: 50%;
    }

    .comment-btn {
        padding: 5px 10px;
        font-size: 14px;
        color: #ff5000;
        background-color: transparent;
        /* border: 1px solid #007bff; */
        border-radius: 4px;
        font-weight: bold;

    }



    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    /* {% comment %} comment end {% endcomment %} */

    /* {% comment %} comment form start {% endcomment %} */


    .input-field, .textarea-field {
        width: 100%;
        padding: 5px;
        margin-bottom: 15px;
        border: 1px solid #ced4da;
        border-radius: 4px;
    }

    .submit-btn {
        padding: 5px 5px;
        color: #fff;
        background-color: #ff5000;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .submit-btn:hover {
        background-color:chocolate;
    }



    /* {% comment %} share buttons {% endcomment %} */
    .smlhead h5 {
        /* background-color: #0185AE; */
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: bold;
    }



    .share-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

    }

    .smlbtn {
        display: flex;
        align-items: center;
    }

    .smlbtn .likeit{
        color:black ;
        font-weight: bold;
        font-size: 1.5rem;


    }

    .overlay {
        margin-left: 10px;
        padding: 5px 10px;
        background-color:black;
        color: white;
        text-decoration: none;
        border-radius: 20px;
    }

    .overlay:hover {
        background-color:chocolate;
        color: white;
    }

    .icons {
        display: flex;
        gap: 10px;

    }


    .icons a i {
    font-size: 1.2rem;
    color: black;
    transition: color 0.3s;
    cursor: pointer;





    }

    .icons i:hover {
        color: #ff4081;
    }

    @media (max-width: 768px) {
        .share-container {
            flex-direction: column;
            align-items: flex-start;
        }
    }



    /* trending item start */

    .Load-more {


        color:black;
        padding: 5px 5px;
        background-color:white;
    }

    .Load-more:hover {
        color:#6c757d;
        padding: 5px 5px;

    }


    .trending-item {
        display: flex;
        align-items: center;
        background-color: #fff;
        margin-bottom: 15px;
        height: 110px;
        border: 1px solid #ddd;
    }

    .trending-item img {
        width: 110px;
        height: 110px;
        object-fit: cover;
    }

    .trending-item div {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .trending-item a {
        color: black;
        text-decoration: none;
        font-size: 0.80rem;
        font-weight: bold;
    }

    @media (max-width: 768px) {
        .trending-item {
            flex-direction: column;
            height: auto;
        }

        .trending-item img {
            width: 100%;
            height: auto;
        }
        .container-fluid{
            padding: 0!important;
            margin-top: 170px!important;
        }
    }

    .trending-item a:hover {
        text-decoration: underline;
    }

    .trending-item small {
        color: #6c757d;
    }








    .fullMagazineletter {
        background-color: #fff;
        padding: 20px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .fullMagazineletter .sticky-box {
        position: sticky;
        top: 150px;
        height: fit-content;

    }



    .Magazineletter-input-group {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .Magazineletter-input-group input {
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 70%;
    }

    .fullMagazineletter button {
        padding: 5px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 20px;
        cursor: pointer;

    }

    .fullMagazineletter button:hover {
        background-color: #0056b3;
    }

    .fullMagazineletter small {
        display: block;
        margin-top: 10px;
        color: #6c757d;
    }


    .Magazineletter-container p {
        font-weight: bold;
    }


    .signUp {
        background: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(153, 150, 148) 100%);
      font-weight: bold;
    }




    /* {% comment %} addvertise {% endcomment %} */


    .sticky-box {
        position: sticky;
        top: 69px;
        height: fit-content;
    }


    .sidebar {
        width: 100%;
        padding-left: 20px;
    }

    .sticky {
        position: sticky;
        top: 60px;
        color: white;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 20px;

    }


    .title {
         font-weight: bold;
         text-transform: uppercase;
         margin-bottom: 15px;
         text-align: center;
         font-weight: bold;
         text-transform: uppercase;
         margin-bottom: 15px;
         font-size: 30px;

         font-style: normal;


    }
    .wrapper {
        max-width: 2000px;
        margin: auto;
        padding: 20px;


    }

    @media (max-width: 1024px) {
        .content {
            grid-template-columns: repeat(1, 1fr);
        }

        .sidebar {
            width: 100%;
            padding-left: 0;
        }
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column;
        }

        .content {
            gap: 5px;
        }

        .box {
            padding: 10px;
        }

        .title {
            font-size: 24px;
        }
    }

    @media (max-width: 480px) {
        .wrapper {
            padding: 0px;
        }

        .box h3 {
            font-size: 16px;
        }

        .box p {
            font-size: 12px;
        }

        .title {
            font-size: 20px;
        }

        .box img {
            width: 100%;
            height: 280px;

        }
    }


    footer .social-icons .youtube a i,
    footer .social-icons .whatsapp a i,
    footer .social-icons .instagram a i,
    footer .social-icons .linkedin a i{
        font-size: 2rem;
    }



</style>
{% endblock page_css %}



{% block content %}

    <!-- Magazine With Sidebar Start -->
    <div class="container-fluid" style="margin-top: 250px; padding: 0 100px;">
        <div class="">
            <div class="row" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                <div class="col-lg-8" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                    {% if magazine %}
                    <div>
                        <a href="">{{ magazine.category.name }}</a>
                        <h1 style>{{ magazine.title }}</h1>
                        <a href="">{{ magazine.published_at|date:"M d, Y" }}</a>
                        <p style="font-size: 14px;">{{ magazine.magazine_intro }}</p>
                        {% if magazine.cover_image.url %}
                        <img src="{{ magazine.cover_image.url }}" class="MAGAZINE-img" alt="{{ magazine.title }}" style="width: 100%; height: auto;">
                        {% endif %}
                        {% if magazine.cover_video %}
                            <video autoplay loop muted style="width: 100%; height: auto;">
                                <source src="{{ magazine.cover_video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}
                    </div>
                    <br>

                    <!-- Loop through dynamically added sections -->
                    {% for section in magazine.sections.all %}
                    <div>
                        {% if section.heading %}
                            <h2 style='font-weight: 600'>{{ section.heading }}</h2>
                        {% endif %}

                        {% if section.content_top %}
                            <p style="font-size: 14px;">{{ section.content_top|safe }}</p>
                        {% endif %}

                        {% if section.image %}
                            <img src="{{ section.image.url }}" alt="{{ section.image_caption }}" style="width: 100%; height: auto;">
                            {% if section.image_caption %}
                                <p><em>{{ section.image_caption }}</em></p>
                            {% endif %}
                        {% endif %}

                        {% if section.video %}
                            <video autoplay loop muted style="width: 100%; height: auto;">
                                <source src="{{ section.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% elif section.external_video_url %}
                            <iframe width="100%" height="400" src="{{ section.external_video_url }}" frameborder="0" allowfullscreen></iframe>
                        {% endif %}

                        {% if section.content_bottom %}
                            <p>{{ section.content_bottom|safe }}</p>
                        {% endif %}
                    </div>
                    <br>
                    {% endfor %}


                    <div class="smlhead">
                        <h5>Subscribe to our channels on <a href="">Telegram</a> & <a href="">YouTube</a>. Follow us on <a href="">Twitter</a> and <a href="">Facebook</a></h5>
                    </div>

                    <div class="share-container">
                        <div class="smlbtn">
                            <small class="likeit">Like it?</small>
                            <a class="overlay" href="#"><span class="arrow-btn"> Support Us</span></a>
                        </div>
                        <div class="icons">
                            <h5 class="share-title">Share:</h5>
                            <a href="https://wa.me/919205625360?text=Hello%20World!" target="_blank">
                                <i class="fa-brands fa-whatsapp" style="font-family: 'FontAwesome'!important;"></i>
                            </a>
                            <a href="https://www.youtube.com/@futuretechnologiesft" target="_blank">
                                <i class="fa-brands fa-youtube" style="font-family: 'FontAwesome'!important;"></i>
                            </a>
                            <a href="https://www.instagram.com/futuretechnologies_/" target="_blank">
                                <i class="fa-brands fa-instagram" style="font-family: 'FontAwesome'!important;"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/ft-future-technologies/" target="_blank">
                                <i class="fa-brands fa-linkedin" style="font-family: 'FontAwesome'!important;"></i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-lg-4 " style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px; position: -webkit-sticky; position: sticky; top: 0;">
                    <div class="Latest_Articles" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                        <h4 style="color: black; font-weight: bold;">Latest Articles</h4>
                        {% for latest in latest_magazines %}
                        <div class="trending-item" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 5px;">
                            <div style="width: 100%;">
                                <a href="{% url 'magazine_detail' latest.slug %}">{{ latest.title|truncatechars:50 }}</a>
                                <div style="padding-left: 0;">
                                    <a href=""><small>{{ latest.published_at|date:"M d, Y" }}</small></a>
                                </div>
                            </div>
                            {% if latest.cover_image.url != None %}
                                <img src="{{ latest.cover_image.url }}" alt="{{ latest.title }}">
                            {% endif %}
                        </div>
                        {% endfor %}
                        <input type="submit" value="Load more >" class="Load-more"><br>
                    </div>




                    <div class="sidebar sticky-box" >
                        <div class="sticky">
                            <a href="https://www.futuretechnologiessummit.com/" target="_blank">
                                <img src="{% static 'img/FTS-Event-2025_2.webp' %}" style="width: 100%;" alt="">
                            </a>
                        </div>
                        <div class="sticky">
                            <a href="https://www.ainfinite.ai/" target="_blank">
                                <img src="{% static 'img/FTVOL1.jpg' %}" style="width: 100%;" alt="">
                            </a>
                        </div>
                        <div class="sticky">
                            <a href="https://www.pbsindia.com/" target="_blank">
                                <img src="{% static 'img/FTadd2.jpg' %}" style="width: 100%;" alt="">
                            </a>
                        </div>
                        <div class="sticky">
                            <a href="https://www.livingstonecoffee.in/" target="_blank">
                                <img src="{% static 'img/FTadd3.jpg' %}" style="width: 100%;" alt="">
                            </a>
                        </div>
                        <div class="sticky">
                            <a href="https://amity.edu/noida/aisst/" target="_blank">
                                <img src="{% static 'img/FTadd4.jpg' %}" style="width: 100%;" alt="">
                            </a>
                        </div>
                        <div class="sticky">
                            <a href="https://www.carbon-light.com/" target="_blank">
                                <img src="{% static 'img/FTadd5.jpg' %}" style="width: 100%;" alt="">
                            </a>
                        </div>
                        <div class="sticky">
                            <a href="https://shaktiwearables.com/" target="_blank">
                                <img src="{% static 'img/FTadd6.jpg' %}" style="width: 100%;" alt="">
                            </a>
                        </div>
                    </div>









                    <!-- {% comment %} <div class="fullMagazineletter sticky-box" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">

                        <div class="Magazineletter-container">
                            <p>Sign up to receive FT-Magazine content in your inbox</p>

                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="subscription">
                                <div class="Magazineletter-input-group">
                                    {{ subscription_form.email }}
                                </div>
                                <button type="submit" name="subscribe" class="signUp">Sign Up</button>
                            </form>

                            <div>
                                <small>We don’t spam! Read our <a href="">privacy policy</a> for more info.</small>
                            </div>
                        </div>
                    </div> {% endcomment %} -->
                </div>
            </div>
        </div>
    </div>

    <!-- {% comment %} <a href="#" class="btn btn-primary btn-square back-to-top" style="position:fixed; right: 50px; bottom: 50px;"><i class="fa fa-arrow-up"></i></a> {% endcomment %} -->
    <script src="{% static 'js/main.js' %}"></script>

{% endblock content %}
