{% extends 'base.html' %}
{% load static %}
{% block title %}Terms{% endblock title %}


{% block meta_tags %}
{% endblock meta_tags %}

{% block page_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jacquard+24&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=GFS+Didot&family=Jacquard+12&family=Jacquard+24&display=swap" rel="stylesheet">
<style>


    body {
        
        line-height: 1.6;
        color: #333;
        margin: 0;
        padding: 0;
        background-color: #fff;
    }
    
    .container {
        max-width: 800px;
        margin: 40px auto;
        padding: 20px;
        margin-top: 16%;
    }
    
    h1 {
        
        text-align: left;
        font-size: 45px;
        letter-spacing: -.01em;
        font-weight: 300;
       
        
    }
    @media screen and (max-width: 480px) {
        h1 {
            margin-top: 18%;
            font-size: 30px;
            
        }
       
    }
    
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }
    
    p {
        font-size: 16px;
        margin-bottom: 15px;
        font-family: Arial, sans-serif;
    }
    
    ul {
        padding-left: 20px;
    }
    
    li {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    a {
        color: #0000EE;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    .nav-links li a {
        font-size: 13px !important;
    }

    .footer-bottom a {
        font-size: 12px !important;
    }
    .footer-bottom p {
        font-size: 12px !important;
    }

    @media screen and (max-width: 480px) {
        .footer-container .footer-section {
            margin-left: 0px !important;
        }
    }
        

</style>
{% endblock page_css %}




{% block content %}



<div class="container">
    <h1>Terms and Conditions</h1>
<p>If the product is considered to be eligible for services within warranty, Livingstone Institute of Future Technologies Pvt Ltd  will provide services free of charge.
If a defect arises in the product or a part of the product during the warranty period, Future Technologies will, at its option, either perform services on the product, or repair or replace the part or the product using parts or products that are new or equivalent to new in performance and reliability.
If the product is eligible for warranty, then the customer has to ship the module to Future Technologies’s office at the provided address. The customer will have to bear the shipping expense.</p>

<h2>Service outside Warranty</h2>
<p>If the product is considered to be serviceable however outside the scope of Warranty, at the customer’s request, Future Technologies may provide the customer with a quotation for its services stating the content and the costs of services which are needed to be carried out in order to remedy the defects in the product.</p>

<h2>General clauses for Warranty:</h2>
<p>If the product’s hardware and/or software is tampered/unscrewed or any sub-electronic components detached/dismantled from the board or an attempt to tamper is detected, then it will void the warranty.
Removal of the case of the module will void the warranty.
Any damage/malfunction caused due to improper handling/usage of the product will result in warranty being void.
Damages or malfunction caused by operating or using the product in unsuitable environments such as rain, storm will not be serviceable in the scope of warranty.
Any malfunction or defect caused by physical damage will not be covered under the warranty.
Images to be taken immediately after any incidents/accident and submitted along with repair request.
Future Technologies shall not be liable for any damage caused by the customer or customer’s assistant staff.</p>

<h2>Other Terms and Conditions:</h2>
<p>After receiving the product, the customer must acknowledge the receipt of the product within 24 hours.
Delivery of the product(s) shall be made by the company delivering the product(s) to the customer’s premises or by the buyer collecting the product(s) at the company’s premises at any time after the company has notified the customer that the product(s) are ready for collection.
Any damage caused by the customer d-uring the integration/testing is not a liability of Livingstone Institute of Future Technologies Pvt. Ltd.
In case of damage product received, the customer has to send proof of damage within 24 hours of acceptance of delivery. In such a case, the customer will be entitled for a replacement.
No refund will be given for a damaged product.
In case of any damage/warranty claim, the customer has to ship the product back to Livingstone Institute of Future Technologies Pvt. Ltd.</p>
</div>











{% endblock content %}




{% block page_js %}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
    




  


    </script>

{% endblock page_js %}